*{
    margin: 0;
    padding: 0;
}
.navbar-nav
{
    font-size: 18px;
}

/* customizing progress bar  */
.progress{

    height: 30px;
    border-radius: 30px;
    transition: all 0.5s ease;
    /* transition: width 2s, height 4s; */
}
.progress:hover{
    transform: scale(1.1);
}

/* customizing cards  */
.card{
    transition: all 0.5s ease;


}
.card img{
    height: 100px;
    width: 100px;
    margin: auto;
}
.card:hover{
    transform: scale(1.1);
    background-color: black;
    box-shadow: 10px 10px 10px  red;


}
.navbar .nav-item .nav-link-active{
    font-weight: 30px;
    color: aliceblue;
}
#sheru{
    color: aliceblue;
}
#sheru:hover{
    background-color: orange;
}